.results {
  display: flex;
  height: 98vh;
  flex-direction: column;
  align-items: center;

  &-title{
    display: flex;
    justify-content: center;
    font-family: 'Hanalei', cursive;
    font-size: 40px;
    font-weight: 400;
    @media only screen and (max-width: 700px) {
      font-size: 18px;
    }
  }

  &-wrapper{
    display: flex;
    width: 80vw;
    height: 65%;
    flex-basis: auto;
    flex-wrap: wrap;
    overflow: scroll;
  }

  &-single-number{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    width: 95px;
    height: 30px;
    border: 1px solid #c6b75d;
    font-size: 17px;
    font-weight: bold;
  }

  &-actions{
    position: fixed;
    bottom: 50px;
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    div{
      cursor: pointer;
      color: black;
      display: flex;
      justify-content: space-evenly;
      padding: 5px;
      align-items: center;
      width: 150px;
      height: 30px;
      font-size: 17px;
      font-weight: bold;
      background-color: #c6b75d;
      border-radius: 5px;
      p {
        margin-top: 15px;
      }
    }
    div:first-child{
      width: 110px;
    }
  }

  &-sort {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    &__ascending, &__descending {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 40px;
      height: 40px;
      font-size: 17px;
      font-weight: bold;
      background-color: #c6b75d;
      border-radius: 5px;
      cursor: pointer;
      color: black;
    }

    &__Total {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 200px;
      p{
        text-align: center;
        width: 40px;
        height: 20px;
        border: 1px solid #c6b75d;
      }
    }
  }
}
