body {
  margin: 0;
  font-family:'Darker Grotesque', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  color: #4a4a4a;
  height: 98vh;
  border: 1vh solid #c6b75d;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
